<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blcheung.cappuccino.mapper.CmsPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blcheung.cappuccino.model.CmsPermissionDO">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="name" property="name" />
        <result column="module" property="module" />
        <result column="mount" property="mount" />
    </resultMap>

    <select id="getPermissionsByGroupIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT id, name, module, mount, create_time, update_time, delete_time
        FROM (
            SELECT permission_id
            FROM cms_group_permission _gp
            WHERE _gp.group_id IN
                <foreach collection="groupIds" item="groupId" index="index" open="(" separator="," close=")">
                    #{groupId}
                </foreach>
            ) gp
                LEFT JOIN cms_permission p
                        ON gp.permission_id = p.id
                            AND p.delete_time IS NULL
                            AND p.mount = true
            GROUP BY id
    </select>

    <select id="getPermissionByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id, name, module, mount, create_time, update_time, delete_time
        FROM (
                 SELECT permission_id
                 FROM cms_group_permission _gp
                 WHERE _gp.group_id = #{groupId}
             ) gp
                 LEFT JOIN cms_permission p
                           ON gp.permission_id = p.id
                               AND p.delete_time IS NULL
                               AND p.mount = true
    </select>

    <select id="getPermissionIdsByGroupId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT id
        FROM (
                 SELECT permission_id
                 FROM cms_group_permission _gp
                 WHERE _gp.group_id = #{groupId}
             ) gp
                 LEFT JOIN cms_permission p
                           ON gp.permission_id = p.id
                               AND p.delete_time IS NULL
                               AND p.mount = true
    </select>
</mapper>
