<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blcheung.zblmissyouadmin.mapper.CmsUserIdentityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blcheung.zblmissyouadmin.model.CmsUserIdentityDO">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="user_id" property="userId" />
        <result column="identity_type" property="identityType" />
        <result column="identifier" property="identifier" />
        <result column="credential" property="credential" />
    </resultMap>

    <delete id="deleteByUserId">
        DELETE
        FROM cms_user_identity AS ui
        WHERE ui.user_id = #{userId}
    </delete>
</mapper>
