<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blcheung.zblmissyouadmin.mapper.CmsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blcheung.zblmissyouadmin.model.CmsUserDO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="checkCountById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM cms_user AS u
        WHERE u.id = #{id}
          AND u.delete_time IS NULL
    </select>

    <select id="checkCountByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM cms_user AS u
        WHERE u.username = #{username}
    </select>

    <select id="getUsersByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id,
               username,
               nickname,
               avatar,
               email,
               create_time,
               update_time,
               delete_time
        FROM cms_user AS u
        WHERE u.delete_time IS NULL
          AND u.id IN
              (
                  SELECT user_id
                  FROM cms_user_group AS ug
                           LEFT JOIN cms_group AS g
                                     ON g.id = ug.group_id
                  WHERE g.delete_time IS NULL
                    AND g.id = #{groupId}
              )
    </select>
</mapper>
