<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blcheung.zblmissyouadmin.mapper.CmsUserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blcheung.zblmissyouadmin.model.CmsUserGroupDO">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <insert id="saveBatch">
        INSERT INTO cms_user_group(user_id, group_id)
        VALUES
        <foreach collection="relations" item="relation" separator=",">
            (#{relation.userId}, #{relation.groupId})
        </foreach>
    </insert>

    <delete id="deleteBatch">
        DELETE FROM cms_user_group AS ug
        WHERE ug.user_id = #{userId}
        AND ug.group_id IN
        <foreach collection="groupIds" item="groupId" open="(" close=")" separator=",">
            #{groupId}
        </foreach>
    </delete>
</mapper>
