<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blcheung.cappuccino.mapper.SpecKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blcheung.cappuccino.model.SpecKeyDO">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="name" property="name" />
        <result column="unit" property="unit" />
        <result column="standard" property="standard" />
        <result column="description" property="description" />
    </resultMap>

    <resultMap id="SpecKeyValueMap" type="com.blcheung.cappuccino.model.SpecKeyValueDO">
        <result column="key_id" property="keyId" />
        <result column="key_name" property="key" />
        <result column="value_id" property="valueId" />
        <result column="value_name" property="value" />
    </resultMap>

    <select id="getSpecKeyNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT sk.name
        FROM spec_key sk
        WHERE sk.id = #{specKeyId}
          AND sk.delete_time IS NULL
    </select>

    <select id="getSpecKeyNamesBySpuId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT sk.name
        FROM spec_key sk,
             (
                 SELECT sk2.spec_key_id
                 FROM spu_key sk2
                 WHERE sk2.spu_id = #{spuId}
             ) spk
        WHERE sk.id = spk.spec_key_id
          AND sk.delete_time IS NULL
    </select>

    <select id="getSpecKeysBySpuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id,
               name,
               unit,
               standard,
               description
        FROM spec_key k,
             (
                 SELECT _sk.id AS sk_id, _sk.spec_key_id
                 FROM spu_key _sk
                 WHERE _sk.spu_id = #{spuId}
             ) sk
        WHERE k.id = sk.spec_key_id
          AND k.delete_time IS NULL
    </select>

    <select id="getSpecKeyValueById" resultMap="SpecKeyValueMap">
        SELECT sk.key_id, sk.key_name, sv.id AS value_id, sv.value AS value_name
        FROM spec_value sv,
             (
                 SELECT _sk.id AS key_id, _sk.name AS key_name
                 FROM spec_key _sk
                 WHERE _sk.id = #{keyId}
                   AND _sk.delete_time IS NULL
             ) sk
        WHERE sv.id = #{valueId}
          AND sv.spec_id = sk.key_id
          AND sv.delete_time IS NULL
    </select>
</mapper>
